#users-table,
#users-table tr th {
    border-bottom: 1px solid black;
    max-width: 90%;
    margin: 10px auto;
}

#users-table tbody tr td,
.buttons {
    text-align: center;
    padding: 10px;
}

#weather-table,
#weather-table tbody tr td {
    border: 1px solid black;
    margin: 10px auto;
    padding: 5px;
}

#city-name {
    text-align: center;
}
